* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}
.main{
    text-align: center;
    width: 350px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px 30px;
}
.main input{
    width: 100%;
    margin: 12px 0;
    padding: 12px 15px;
    border: 1px solid #a0abbf;
    border-radius: 8px;
    font-size: 15px;
    transition: .03s;
}
.main button{
     width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  background: #1e3c72;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  
}
.main input:focus {
  border-color: #2a5298;
  box-shadow: 0px 0px 6px rgba(42, 82, 152, 0.4);
}
.main button:hover {
  background: #2a5298;
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(30, 60, 114, 0.4);
}
.main {
  animation: fadeIn 1s ease-in-out;
}